.footer {
    background-image: linear-gradient(to top, #5a98f2 60%, #67c3f3);
    color: white;
}
.footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 31px;
}
.footer li {
    list-style: none;
    text-align: left;
}
.footer p {
    text-align: left;
    font-size: 18px;
    width: 400px;
} 
.footer .copy {
    font-size: 16px;
}
.footer h6 {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}
.footer ul {
    padding-left: 0;
}
.logo {
    text-align: left;
}